<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">IT Experience</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2011-12T2017-11">
                        <span>Dec. <strong class="text-upper">2011</strong>-<strong>Nov. 2017</strong></span>
                    </time>
                    <h3>Computer Network Admin & Technical Support</h3>
                    <span class="education-company">Beijing Xiang Rui Jia He Technology Co., Ltd, China</span>
                    <p>Installed, deployed, supervised and maintained computer network equipment</p>
                    <p>Managed information storage backup documents</p>
                    <p>Monitored network operating status</p>
                    <p>Configured internet security</p>
                    <p>Troubleshooted problems</p>
                 </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2010-08T2011-11">
                        <span>Aug. <strong class="text-upper">2010</strong>-Nov. <strong>2011</strong></span>
                    </time>
                    <h3>Assist Computer Administrator</h3>
                    <span class="education-company">Beijing Ebsuite Technology Co., Ltd. China</span>
                    <p>Executed daily system maintenance</p>
                    <p>Supervised network communication status</p>
                    <p>Wrote security and inventory documentation</p>
                    <p>Diagnosed and troubleshooted equipment and software failures</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->