<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">Basic Information</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">Gender</dt>
                <dd>Male</dd>

                <dt class="text-upper">Date of Birth</dt>
                <dd>28 Jan 1988</dd>

                <dt class="text-upper">Mobile</dt>
                <dd>(0411) 853 109</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:ouliang0128@outlook.com">ouliang0128@outlook.com</a></dd>

                <!--<dt class="text-upper">英语</dt>-->
                <!--<dd>CET-6</dd>-->

                <!--<dt class="text-upper">日语</dt>-->
                <!--<dd>一级</dd>-->
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->